<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/index.css">
  <!-- <script src="path/to/what-input.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.1.2/what-input.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/what-input@5.1.2/dist/what-input.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <title>Popn Simple Simulator</title>
</head>

<body>
  <main>
    <div class="container">
      <div class="main-wrapper">
          <span class="clear textbox-wrapper">
            <input class="textbox-data-id" type="text" value="ID: <%= mainItems[2]["ID"] %>" readonly>
            <% if(mainItems[0]["checkedBtns"] != null){ %>
              <input class="textbox-data-name" type="text" value="<%= mainItems[3]["name"] %>">
            <% } else { %> 
              <input class="textbox-data-name" type="text" value="データ<%= mainItems[2]["ID"] %>">
            <% } %> 
          </span>
        <div class="buttons-wrapper">
          <ul class="items-even">
            <% for (var i = 1; i <= 9; i++){ %>
              <% if(i % 2 == 0){ %>
                <li>
                  <span class="btn-circle-position">                    
                    <input id="btn-circle-<%= i %>" type="checkbox">  
                    <label for="btn-circle-<%= i %>" class="btn btn-circle-<%= i %>"></label>
                  </span>                  
                </li>
              <% } %>
            <% }; %>
          </ul>
          <ul class="items-odd">
            <% for (var i = 1; i <= 9; i++){ %>
              <% if(i % 2 !== 0){ %>
               <li>
                  <span class="btn-circle-position">                    
                    <input id="btn-circle-<%= i %>" type="checkbox">
                    <label for="btn-circle-<%= i %>" class="btn btn-circle-<%= i %>"></label>
                  </span>
               </li>
              <% } %>
            <% }; %>
          </ul>
        </div>
        <% if(mainItems[0]["checkedBtns"] != null){ %>
          <p class="checked-btns"><%= mainItems[0]["checkedBtns"] %> </p>
        <% } %> 
      </div>
    </div>
    <div class="container">
      <div class="operations-wrapper">
        <% if(mainItems[0]["checkedBtns"] != null){ %>
          <a href="/index" class="btn opwr-btn-cancel">キャンセル</a>
          <input type="submit" class="btn opwr-btn-save btn-data-overwrite-save" value="上書き保存">
          <span class="btn opwr-btn-delete">削除</span>
        <% } else { %>
          <input type="submit" class="btn opwr-btn-save btn-data-new-save" value="保存！">
          <!-- 空のフォーム。saveボタン押されたら、jQueryからここに値を渡してpost実行 -->
          <form action="/create" method="post">
            <input type="hidden" name="P_DataName">
            <input type="hidden" name="P_DataBit">
          </form>
        <% } %> 
      </div>
    </div>
    <div class="container">
      <div class="dataset-wrapper">
        <table>
          <tr>
            <th class="table-id">ID</th>
            <th class="table-name">データ名</th>
            <th class="table-included-buttons">データ内容</th>
            <th class="table-operations">操作</th>
          </tr>
          <% mainItems[1]["tableItems"].forEach((item) => { %>
          <tr>
            <td class="table-id"><%= item.id %></td>
            <td class="table-name"><%= item.name %></td>
            <td class="table-included-buttons"><%= item.includedBtns %></td>
            <td class="table-operations">
              <div>
                <form action="/index/<%= item.id %>" method="get">
                  <input type="submit" class="btn btn-data-load" value="読み込み">
                </form>   
                <form action="/delete" method="post">                  
                  <input type="hidden" name="D_ID" value="<%= item.id %>">
                  <input type="submit" class="btn btn-data-delete" value="削除">
                </form>
              </div>
            </td>
          </tr>
          <% }); %>
        </table>
      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <div class="footer-wrapper">
        <a class="link-top" href="/top">トップページへ戻る</a>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="/public/jquery/index.js"></script>
</body>

</html>